@CHARSET "UTF-8";


@font-face {
	font-family: 'eurosti';
	src: url('../fonts/eurosti.eot');
	src: local('☺'), url('../fonts/eurosti.woff') format('woff'), url('../fonts/eurosti.ttf') format('truetype'), url('../fonts/eurosti.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'eurostib';
	src: url('../fonts/eurostib.eot');
	src: local('☺'), url('../fonts/eurostib.woff') format('woff'), url('../fonts/eurostib.ttf') format('truetype'), url('../fonts/eurostib.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Tahoma, eurosti, Verdana, Geneva, sans-serif;
	background-color: rgb(212,217,223);
	padding: 10px;	
}

body > div {
}

div.stgForm label { 
	display: inline-block;
	width: 270px;
}

div.stgForm img {
	width: 75px;
	heigth: 75px;
}

div.stgForm legend {
	text-decoration: underline;
}

div.stgForm fieldset>table {
	border-spacing: 10px;
}

div.stgForm input[type=text] {
	width: 400px;
}

textarea { 
	width: 400px; 
}

div.clear {
	clear: both;
}

div#headerbar {
	width: 100%;
	height: 35px;
	border: thin solid grey;
	background-color: #EFEFEF;
	
	border: 3px solid rgb(0,99,166);
	border-style: outset;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	
}

div#headerbar{
	padding: 3px 0;
	
}

div#headerbar div.separator-right {
	border-right: thin solid #999;
	padding: 1px 7px;
}

div#headerbar div.separator-left {
	border-left: thin solid #999;
	padding: 1px 7px;
}

div#headerbar div#home {
	float: left;
	width: auto;
}

div#headerbar div#home div {
	position: absolute;	
	
	-moz-border-radius: 7px;
	border-radius: 7px;
}

div#pageTitle {
	margin: 0px 15px;
	float: left;	
}

h1 {
	font-family: Tahoma, eurosti, Verdana, Geneva, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: rgb(0,99,166);
	font-variant: small-caps;
	
	margin: 0;
	padding: 0;
}

div#headerbar div#home div:hover {
	
	background-color: rgb(0,99,166);
	opacity: 0.5;
	filter: alpha(opacity=50);
	
	cursor: pointer;
}

div#headerbar div#home img {
	height: 30px;
}

div#headerbar div#logout {
	float: right;
	padding-top;
}

div#logout img {
	height: 30px;
	width: auto;
}

div#sidebar {
	
	float: left;
	height: 100%;
	width: 200px;
	
	border: 3px solid rgb(0,99,166);
	border-style: outset;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	background-color: #EFEFEF;
	padding: 5px;
	margin-top: 15px;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

div#content {
	display: inline-block;
	width: auto;
	margin: 15px 0 0 20px;
}

div#sidebar div.sidebarDiskriminatorBox {
	
	margin: 5px;
	border: thin solid rgb(0,99,166);
	background-color: rgb(0,99,166);
	color: #FFFFFF;
	
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 3px 5px 0 5px;
}

div#sidebar div.sidebarDiskriminatorBox:hover {
	
	background-color: #FFFFFF;
	color: rgb(0,99,166);
	cursor: pointer;
}

div#sidebar .open {
	
	float:left;
	margin: 0 7px 0 0;
	padding: 0 4px;
	border: thin solid rgb(0,99,166);

	background-color: rgb(0,99,166);
	color: #FFFFFF;
	
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	font-family: monospace;
	font-size: 12pt;
	text-decoration: none !important;
}

div#sidebar .open:hover {
	cursor: default;
}

div#sidebar div.sidebarItemBox {
	margin-top: 5px;
	margin-left: 15px;	
}

div#sidebar div.sidebarItemBox a.caption   {
	
	color: rgb(0,99,166);
	font-family: eurostib, Verdana, Geneva, sans-serif;
}

div#sidebar div.sidebarItemBox a.caption:hover, div#sidebar div.sidebarItemBox .itemCategory a:hover {
	text-decoration: underline;
	cursor: pointer;
}

div#sidebar div.sidebarItemBox .itemCategory {
	
	color: rgb(0,99,166);
	text-indent: 0px;
	margin: 0px;
	padding-left: 30px;
	
}

div#sidebar div.sidebarItemBox .itemCategory li {

	list-style-image: url(../images/sidebar_leaf.gif);
}
