@CHARSET "UTF-8";

div.clear {
	clear: both;
}

div#headerbar {
	width: 100%;
	height: 35px;
	border: thin solid grey;
	background-color: #DDDDDD;
}


div#logout {
	float: right;
}


div#logout img {
	height: 30px;
	width: auto;
	margin: 2px;
}