@CHARSET "UTF-8";

@font-face {
	font-family: 'eurosti';
	src: url('../fonts/eurosti.eot');
	src: local('☺'), url('../fonts/eurosti.woff') format('woff'), url('../fonts/eurosti.ttf') format('truetype'), url('../fonts/eurosti.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'eurostib';
	src: url('../fonts/eurostib.eot');
	src: local('☺'), url('../fonts/eurostib.woff') format('woff'), url('../fonts/eurostib.ttf') format('truetype'), url('../fonts/eurostib.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    text-align: center;
	font-family: Tahoma, eurosti, Verdana, Geneva, sans-serif;
	background-color: #FFFFFF;
}

div.loginBg {
	margin-top: 80px;
	padding: 0 0 20px 0;
	width: 320px;
	margin-left:auto;
	margin-right:auto;
	font-size: 12pt;
	
	border: thin solid #CCC;

	-moz-border-radius: 7px;
	border-radius: 7px;
	
	text-align: center;
}

table#loginTable {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

h1 {
	color: #000000;
	margin: 10px 0 30px 0;
}

input[type="text"], input[type="password"] {
	width: 155px;
}

input[type="submit"] {
	margin-top: 10px;
}

button {
	margin-top:15px;
	font-size: 12pt;
	font-weight: normal;
}

div#status {
	height: auto;
	padding: 0px;
}

dl#system-message {
	margin-bottom: 16px;
}
