@CHARSET "UTF-8";

@font-face {
	font-family: 'eurosti';
	src: url('../fonts/eurosti.eot');
	src: local('☺'), url('../fonts/eurosti.woff') format('woff'), url('../fonts/eurosti.ttf') format('truetype'), url('../fonts/eurosti.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'eurostib';
	src: url('../fonts/eurostib.eot');
	src: local('☺'), url('../fonts/eurostib.woff') format('woff'), url('../fonts/eurostib.ttf') format('truetype'), url('../fonts/eurostib.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    text-align: center;
	font-family: Tahoma, eurosti, Verdana, Geneva, sans-serif;
}

img.fhLogo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

div.loginBg {
	padding-top: 120px;
	background-image: url(../images/ipad.png);
	background-size: 320px 210px;
	background-repeat:no-repeat;
	background-position: center;
	height: 310px;
	width: 320px;
	margin-left:auto;
	margin-right:auto;
	font-size: 12pt;
}
